/* RESPONSIVE STYLING */
@media screen and (max-width: 768px) {
  .modal {
    padding: 60px 20px 60px 20px;
  }
  .modal-thumbnail {
    min-height: 250px !important;
  }
  .notice-form {
    padding: 20px 0;
  }
	.berita-items-desc {
		padding: 15px;
	}
	.berita-pagination {
		text-align: center;
	}
	.berita-items {
		padding: 0;
	}
  .berita-single {
    padding: 0;
  }
  .berita-items-desc-button {
    padding: 10px 0 0 0;
  }
  .footer-primary-col {
    padding: 0;
  }
  .header-berita-tittle-zone-inner p:first-child {
    font-size: 30px;
  }
  .destinasi-form input.input-search {
    width: 50%;
  }
  .berita-img {
    min-height: 250px;
  }
   #header-video {
     width: initial;
     height: 100%;
   }
    #container-menu ul {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      width: 100%;
      height: 0px;
      transition: all .3s ease-in-out;
      overflow: hidden;
  }
  .sticky #container-menu ul {
    box-shadow: rgba(28, 38, 57, 0.168627) 0px 1px 4px;
    -webkit-box-shadow: rgba(28, 38, 57, 0.168627) 0px 1px 4px;
  }
  #container-menu ul li a {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      color: #3d3d44;
      background-color: #f6f6f6;
  }
  .sticky #container-menu ul li a {
    color: #3d3d44 !important;
    background-color: #f6f6f6;
    padding: 16px 20px;
  }
  #container-button {
      display: block;
  }
  .title-header-inner {
    align-items: center;
    width: 100% !important;
  }
  .title-header-inner p:first-child { /*rubah jadi ukuran sakieu */
    font-size: 60px;
  }
  .title-header-inner p:last-child { /*rubah jadi ukuran sakieu */
    font-size: 15px;
  }
  .berita-single-img.beerita img {
    margin-top: 50px;
  }
  @keyframes animTextLanding {
    0% {
        width: 100%;
        height: 180px;
        margin-top: 260px;
    }
    50% {
        width: 0px;
        height: 180px;
        margin-top: 260px;
    }
    100% {
        width: 0%;
        height: 0px;
        margin-top: 360px;
    }
  }
  @keyframes animTextLandingReverse {
    0% {
        width: 0%;
        height: 0px;
        margin-top: 360px;
    }
    50% {
        width: 0px;
        height: 180px;
        margin-top: 260px;
    }
    100% {
        width: 100%;
        height: 180px;
        margin-top: 260px;
    }
  }
}



* {
	margin: 0;
	padding: 0;
	font-family: 'Proxima-Regular';
	line-height: 1.8;
	text-decoration: none;
}

h5,h4,h3,h2,h1 {
	color: #3d3d44;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

p {
	color: #6f6f75;
}

/* FONTS */
@font-face { font-family: 'Proxima-Semibold'; src: url('../fonts/Proxima/Mark Simonson - Proxima Nova Semibold.otf') format('OpenType'); }
@font-face { font-family: 'Proxima-Regular'; src: url('../fonts/Proxima/Mark Simonson - Proxima Nova Regular.otf') format('OpenType'); }
@font-face { font-family: 'PlayfairDisplay-Bold'; src: url('../fonts/Playfair/PlayfairDisplay-Bold.otf') format('OpenType');}
@font-face { font-family: 'Montserrat-Regular'; src: url('../fonts/Montserrat/Montserrat-Regular.otf') format('OpenType');}
@font-face { font-family: 'Montserrat-SemiBold'; src: url('../fonts/Montserrat/Montserrat-Semibold.otf') format('OpenType');}

::-moz-selection { background: rgb(65,195,253); color: #fff }
::selection { background: rgb(65,195,253); color: #fff }
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(65, 195, 254, 0.2);
}
::-webkit-scrollbar-thumb {
  background-image: -moz-linear-gradient( 90deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(65,195,253);
}


section, header {
	overflow: hidden;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after, section:after, header:after {
	clear: both;
}

.invisible {
  visibility: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container-full {
	width: 100%;
	margin: 0 auto;
}

.btn {
	padding: 10px 30px;
	text-decoration: none;
	color: #3d3d44;
	transition: all 0.3s ease;
  border-radius: 3px;
}

.btn-main {
	color: #fff;
  background: -moz-linear-gradient( 180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background: -webkit-linear-gradient( 180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background: -ms-linear-gradient( 180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
}

.btn-main:hover {
	box-shadow: 0px 5px 20px 0px rgba(101, 139, 227, 0.25);
}

.btn-play {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 15px;
  border-color: transparent transparent transparent rgb(65,195,253);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 15px;
  margin: 16px 0 0 0;
  z-index: 2;
}

.btn-play:focus {
  outline: none;
}

.button-bg {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  transition: 0.3s ease;
}

.button-bg:active {
  transform: scale(0.8);
}

.btn-play.toggle {
  border-style: solid;
  border-width: 8px 0 8px 15px;
  height: 10px;
  margin: 16px 0 0 5px;
}

.btn-play:hover {
  border-color: transparent transparent transparent rgb(68,167,234);
}

#upButton {
  width: 48px;
  height: 48px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: -moz-linear-gradient(180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background: -webkit-linear-gradient(180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background: -ms-linear-gradient(180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  color: white;
  cursor: pointer;
  padding: 15px;
	transition: 0.3s ease;
  border-radius: 3px;
}

#upButton i {
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  bottom: 0;
}

#upButton:hover {
  box-shadow: 0px 5px 20px 0px rgba(101, 139, 227, 0.25);
  transform: scale(1.1);
}

#upButton:active {
	transform: scale(0.9);
}

.btn-submit {
	padding: 10px 25px !important;
}

.btn {
	font-family: 'Proxima-Semibold';
}

.tentang-list-content h3 {
	font-family: 'Montserrat-SemiBold';
}

.hvr-underline-from-center {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: -moz-linear-gradient(180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background: -webkit-linear-gradient(180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  background: -ms-linear-gradient(180deg, rgb(65,195,253) 0%, rgb(68,167,234) 100%);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* RESPONSIVE GRID */
@media (min-width: 768px) {
    .container {width: 750px;}
}
@media (min-width: 992px) {
     .container {width: 970px;}
}
@media (min-width: 1200px) {
    .container {width: 1170px;}
}
.col-no-padding {
	padding: 0 !important;
	margin: 0 !important;
}
.col-a-1, .col-a-2, .col-a-3, .col-a-4, .col-a-5, .col-a-6, .col-a-7, .col-a-8, .col-a-9,
.col-a-10, .col-a-11, .col-a-12,.col-b-1, .col-b-2, .col-b-3, .col-b-4, .col-b-5, .col-b-6,
.col-b-7, .col-b-8, .col-b-9, .col-b-10, .col-b-11, .col-b-12, .col-c-1, .col-c-2, .col-c-3,
.col-c-4, .col-c-5, .col-c-6, .col-c-7, .col-c-8, .col-c-9, .col-c-10, .col-c-11, .col-c-12,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6, .col-d-7, .col-d-8, .col-d-9,
.col-d-10, .col-d-11, .col-d-12  {
	float: left;
}

.col-a-1, .col-a-2, .col-a-3, .col-a-4, .col-a-5, .col-a-6, .col-a-7, .col-a-8, .col-a-9,
.col-a-10, .col-a-11, .col-a-12,.col-b-1, .col-b-2, .col-b-3, .col-b-4, .col-b-5, .col-b-6,
.col-b-7, .col-b-8, .col-b-9, .col-b-10, .col-b-11, .col-b-12, .col-c-1, .col-c-2, .col-c-3,
.col-c-4, .col-c-5, .col-c-6, .col-c-7, .col-c-8, .col-c-9, .col-c-10, .col-c-11, .col-c-12,
.col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6, .col-d-7, .col-d-8, .col-d-9,
.col-d-10, .col-d-11, .col-d-12 {
	position: relative;
}
.col-a-1 {width: 8.33%;}
.col-a-2 {width: 16.66%;}
.col-a-3 {width: 25%;}
.col-a-4 {width: 33.33%;}
.col-a-5 {width: 41.66%;}
.col-a-6 {width: 50%;}
.col-a-7 {width: 58.33%;}
.col-a-8 {width: 66.66%;}
.col-a-9 {width: 75%;}
.col-a-10 {width: 83.33%;}
.col-a-11 {width: 91.66%;}
.col-a-12 {width: 100%;}

@media screen and (min-width: 768px) {
	.col-b-1 {width: 8.33%;}
	.col-b-2 {width: 16.66%;}
	.col-b-3 {width: 25%;}
	.col-b-4 {width: 33.33%;}
	.col-b-5 {width: 41.66%;}
	.col-b-6 {width: 50%;}
	.col-b-7 {width: 58.33%;}
	.col-b-8 {width: 66.66%;}
	.col-b-9 {width: 75%;}
	.col-b-10 {width: 83.33%;}
	.col-b-11 {width: 91.66%;}
	.col-b-12 {width: 100%;}
}

@media screen and (min-width: 992px){
	.col-c-1 {width: 8.33%;}
	.col-c-2 {width: 16.66%;}
	.col-c-3 {width: 25%;}
	.col-c-4 {width: 33.33%;}
	.col-c-5 {width: 41.66%;}
	.col-c-6 {width: 50%;}
	.col-c-7 {width: 58.33%;}
	.col-c-8 {width: 66.66%;}
	.col-c-9 {width: 75%;}
	.col-c-10 {width: 83.33%;}
	.col-c-11 {width: 91.66%;}
	.col-c-12 {width: 100%;}
}

@media screen and (min-width: 1200px) {
	.col-d-1 {width: 8.33%;}
	.col-d-2 {width: 16.66%;}
	.col-d-3 {width: 25%;}
	.col-d-4 {width: 33.33%;}
	.col-d-5 {width: 41.66%;}
	.col-d-6 {width: 50%;}
	.col-d-7 {width: 58.33%;}
	.col-d-8 {width: 66.66%;}
	.col-d-9 {width: 75%;}
	.col-d-10 {width: 83.33%;}
	.col-d-11 {width: 91.66%;}
	.col-d-12 {width: 100%;}
}
